body {
  color: white;
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: black;
   
 
  
}

html{
  scroll-behavior: smooth;

}

p{
  margin-top: 25.8px;
  margin-bottom: 25.8px;
 animation: fadeInUp 1s ease-out forwards;
}


.title {
  color: $c-alt;
}

.first_h1{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 75px;
  line-height: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
}


.introtext{
  margin-top: 100px;
}

span{
  color: #BBFF00;
}

a, li, ul{
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  
  .first_h1{
    font-size: 87px;
  }

  h2 {
  font-size: 32px;
  }

  * {
  cursor: none !important;
}

  body{
    font-size: 18px;
    cursor: none;
    
  }

  
 
  
}


@media (min-width: 1200px) {
  
  body{
    cursor: none;
    font-size: 20px;
  }
  
   .first_h1{
    font-size: 103px;
  }

  h2 {
  font-size: 35px;
  }
}