body {
  color: white;
   font-family: "PT Serif", serif;
   font-size: 16px;
   line-height: 1.6;
}

.title {
  color: $c-alt;
}

h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 25px;
}

