body {
  color: rgb(0, 0, 0);
  font-family: "PT Serif", serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: rgb(255, 255, 255);
   
 
  
}

html{
  scroll-behavior: smooth;

}

p{
  margin-top: 25.8px;
  margin-bottom: 25.8px;
 animation: fadeInUp 1s ease-out forwards;
}


.title {
  color: $c-alt;
}

.first_h1{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 75px;
  line-height: 1;
  color: white;
  margin-top: 100px;
}


.h1_part{
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 49px;
  line-height: 1;
  color: rgb(0, 0, 0);
  
}

h2 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.h2_index {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 25px;
}



.introtext{
  margin-top: 100px;
}



a, li, ul{
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width: 800px) {
  
  .first_h1{
    font-size: 87px;
  }

  h2 {
  font-size: 28px;
  }

  .h2_index {
    font-size: 28px;
  }

  * {
  cursor: none !important;
}

  body{
    font-size: 18px;
    cursor: none;
    
  }

  .p_first{
    margin-top: 0px;
  }
 
  
}


@media (min-width: 1200px) {
  
  body{
    cursor: none;
    font-size: 20px;
  }
  
   .first_h1{
    font-size: 103px;
  }

  h2 {
  font-size: 35px;
  }

  .h2_index {
    font-size: 35px;
  }
}