  .body02 {
    margin: 0;
    height: 100%;
    background-image: url("../assets/images/fond-acceuil.jpg");
    background-size: cover;       /* L'image couvre tout l'écran */
   
    background-repeat: no-repeat; /* Pas de répétition */
  }

.ligne-fond {
  display: none;
}

@media (min-width: 800px) {
  .ligne-fond {
    display: block;
  }

  svg {
    position: fixed;
    top: -50px;
    left: 0;
    height: 150px;
    width: 100%;
    overflow: visible;
    z-index: -1;
  }

  path {
    fill: none;
    stroke: rgb(91, 166, 240); /* couleur fixée ici */
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 2000; /* valeur par défaut */
    stroke-dashoffset: 2000;
    transition: stroke-dashoffset 0.2s linear; /* durée plus visible */
  }
}