  .body02 {
    margin: 0;
    height: 100%;
    background-image: url("../assets/images/fond-acceuil.jpg");
    background-size: cover;       /* L'image couvre tout l'écran */
   
    background-repeat: no-repeat; /* Pas de répétition */
  }


.images-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.images-flex img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  filter: grayscale(100%); /* ici sur l'image, pas sur le conteneur */
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@keyframes flotter {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* effet hover */
.images-flex img:hover {
  filter: grayscale(0%);
  transform: scale(1.05) translateY(-8px) rotate(2deg);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}



@media (max-width: 768px) {
  .images-flex {
    flex-direction: column;
  }

  .images-flex img {
    max-width: 80%;   /* prend presque toute la largeur */
  }
}

@media (max-width: 1200px) {
  .images-flex img {
  max-width: 300px;  /* limite la taille */
  height: auto;
  border-radius: 8px;
}
}



.ligne-fond {
  display: none;
}

.flotter {
  display: block;
  width: 100%;
  animation: flotter 3s ease-in-out infinite;
}

@keyframes flotter {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); } /* monte un peu */
  100% { transform: translateY(0); }     /* redescend */
}

.centerp{
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .ligne-fond {
    display: block;
  }

  svg {
    position: fixed;
    top: -50px;
    left: 0;
    height: 150px;
    width: 100%;
    overflow: visible;
    z-index: -1;
  }

  path {
    fill: none;
    stroke: rgb(91, 166, 240); /* couleur fixée ici */
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 2000; /* valeur par défaut */
    stroke-dashoffset: 2000;
    transition: stroke-dashoffset 0.2s linear; /* durée plus visible */
  }


  
}