  .body02 {
    margin: 0;
    height: 100%;
    background-image: url("../assets/images/fond-acceuil.jpg");
    background-size: cover;       /* L'image couvre tout l'écran */
   
    background-repeat: no-repeat; /* Pas de répétition */
  }


 